<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<%= link_to 'edit', edit_article_path(@article)%> | 
<%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: "Really?"}%> | 
<%= link_to 'return to listing', articles_path%>